<div class="div-cont">
    <div class="div-cont-left">
        <div class="login-f">
            <h3>Bienvenido</h3>
            <p>Iniciar sesión</p>
            <div class="card">
                <div class="card-body">
                    <form (ngSubmit)="ingresar(ingreso)" #ingreso="ngForm">
                        <mat-form-field class="example-full-width">
                            <mat-label>Correo electrónico</mat-label>
                            <input type="email" matInput placeholder="correo@dominio.com" name="correo" ngModel #correo="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                            <mat-error *ngIf="correo.hasError('pattern') && !correo.hasError('required')">
                                Debe ingresar un correo válido
                            </mat-error>
                            <mat-error *ngIf="correo.hasError('required')">
                                El campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="example-full-width">
                            <mat-label>Contraseña</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña" name="clave" ngModel #clave="ngModel" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide" type="button">
                              <span class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</span>
                            </button>
                            <mat-error *ngIf="clave.hasError('required')">
                                El campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <div class="alert alert-danger" role="alert" *ngIf="errorIngreso">
                            Usuario y/o contraseña invalido
                        </div>
                        <button mat-flat-button color="primary" type="submit" [disabled]="!ingreso.valid">Ingresar</button>

                    </form>
                </div>
            </div>
            <br>
            <div class="example-button-row">
                <a mat-button routerLink='/registro'>Registrarse</a>
            </div>
        </div>

    </div>
    <div class="div-cont-right">
        <img class="image-log" src="../../../assets/imagenes/ingreso.jpg" alt="background">
    </div>
</div>