<div class="contenedor">
    <section class="contenedor-uno text-center">
        <span class="letra-uno">
            <h1 style="color: #fff">Institución Educativa Magdalena</h1>
            <h4 style="color: #fff">"Educando con amor para un futuro mejor" </h4>
            <h4 style="color: #fff">"58 años sirviendo a la comunidad"</h4>
        </span>
    </section>
    <div class="contenedor-dos text-center">
        <h4>60 estudiantes se gradúan cada año.</h4>
        <p>Únete a nosotros y aumenta tus posibilidades de tener un futuro mejor.</p>
        <hr>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2>Técnicos <span class="material-icons icon-dos">computer</span></h2>
                <p>La institución ofrece dos técnicas las cuales son técnico en sistemas y técnico en administración de empresas.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <h2>Buenos valores <span class="material-icons icon-dos">favorite</span></h2>
                <p>La institución ofrece dos técnicas las cuales son técnico en sistemas y técnico en administración de empresas.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <h2>Creatividad <span class="material-icons icon-dos">brush</span></h2>
                <p>La creatividad es inculcada desde los mas pequeños en nuestra institución ya que es base para una buena educación.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <h2>Logros <span class="material-icons icon-dos">equalizer</span></h2>
                <p>En nuestra institución obtendrás no solo el bachiller sino una técnica certificada por la entidad SENA.</p>
            </div>
        </div>
    </div>
    <div class="contenedor-tres">
        <div class="row contenedor-texto-tres">
            <div class="col-lg-6 col-md-6">
                <h2>Impulsado por la excelencia</h2>
                <p>Los profesores se seleccionan entre expertos en sus dominios. No son solo profesores, son profesionales en su área de especialización.</p>
                <p>Como filosofía, matemáticas, física, etc. que trabajan eficazmente en su área de excelencia.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <img src="../../../assets/imagenes/computadoresmagdalena.jpg" alt="imagen" class="imagen-tres">
            </div>
        </div>
        <div class="row contenedor-texto-tres">
            <div class="col-lg-6 col-md-6">
                <img src="../../../assets/imagenes/imagen31.jpg" alt="imagen" class="imagen-tres">
            </div>
            <div class="col-lg-6 col-md-6">
                <h2>¿Qué nos diferencia?</h2>
                <p>Nos esforzamos de que todos obtengan los logros deseados. Mantenemos un tamaño humano en un entorno cálido y moderno.</p>
                <p>Todos los estudiantes se benefician de un apoyo grupal.</p>
            </div>
        </div>
        <div class="row contenedor-texto-tres">
            <div class="col-lg-6 col-md-6">
                <h2>Misión</h2>
                <p>La institución Educativa Magdalena, es una institución educativa oficial e incluyente, forma educandos competentes en los niveles de preescolar, básica primaria, básica secundaria y media técnica, del sector centro occidental de la ciudad
                    de Sogamoso - Boyacá, caracterizada por fortalecer los valores humanos requeridos para continuar en la formación académica y laboral que contribuya a la transformación positiva de la sociedad.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <img src="../../../assets/imagenes/escudo.jpg" alt="imagen" class="imagen-tres">
            </div>
        </div>
        <div class="row contenedor-texto-tres">
            <div class="col-lg-6 col-md-6">
                <img src="../../../assets/imagenes/Bandera.jpg" alt="imagen" class="imagen-tres">
            </div>
            <div class="col-lg-6 col-md-6">
                <h2>Visión</h2>
                <p>Para el año 2023 LA INSTITUCIÓN EDUCATIVA MAGDALENA, estará posicionado como uno de los mejores establecimientos educativos oficiales de la ciudad de Sogamoso – Boyacá, por su calidad formativa y académica en articulación pertinente con
                    las modalidades que ofrecen el SENA, instituciones de educación superior o instituciones de formación para el trabajo, donde el egresado podrá desempeñarse con eficientes niveles de competencia laboral, técnica y tecnológica.</p>
            </div>
        </div>
        <div class="row contenedor-texto-tres">
            <div class="col-lg-6 col-md-6">
                <h2>Filosofía</h2>
                <p>Brindar una educación competitiva y productiva, que le permita al educando desenvolverse adecuadamente en el entorno; capaz de resolver situaciones problemáticas que se presenten en su vida cotidiana, propender por el desarrollo de su
                    comunidad en valores tales como la tolerancia, la solidaridad y el respeto por sí mismo, por los demás y su medio, siendo productivo y eje de procesos exitosos.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <img src="../../../assets/imagenes/filosofia.jpg" alt="imagen" class="imagen-tres">
            </div>
        </div>

    </div>
    <div class="contenedor-cuatro">
        <div class="row contenedor-texto-cuatro">
            <div class="col-lg-6 col-md-6">
                <div class="row centrar-vertical">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <img src="../../../assets/imagenes/rector.jpg" alt="rector" class="imagen-cuadro-cuatro">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h4>Pedro Núñez Cala</h4>
                        <h6>Rector de la Institución</h6>
                        <p>Nuestro rector tiene una formación académica la cual cuenta con una e specialización en evaluación de la educación y profesional en licenciatura en psicopedagogía con énfasis en asesoría educativa.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row centrar-vertical">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <img src="../../../assets/imagenes/coordinadora.jpg" alt="coordinadora" class="imagen-cuadro-cuatro">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h4>Nelsy Reyes R</h4>
                        <h6>Coordinadora Primaria</h6>
                        <p>La señora Nelsy Reyes es la coordinadora de primaria, de la jornada de la mañana la cual brinda los servicios de educación desde preescolar hasta quinto grado</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row centrar-vertical">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <img src="../../../assets/imagenes/coordinador.jpg" alt="coordinador" class="imagen-cuadro-cuatro">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h4>Elver Armando Rodríguez Nupan</h4>
                        <h6>Coordinador Secundaria</h6>
                        <p>El señor armado es el coordinador de la secundaria la cual comprende desde grado sexto hasta once</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="row centrar-vertical">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <img src="../../../assets/imagenes/coordinadoran.jpg" alt="coordinadoran" class="imagen-cuadro-cuatro">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h4>Ana Tilcia Báez Fuentes</h4>
                        <h6>Coordinadora Nocturna</h6>
                        <p>La señora Tilcia Báez es nuestra coordinadora de la educación por ciclos, de la jornada de la nocturna que comprende la educación brindada para adultos o jóvenes que deseen realizar su primaria o bachillerato en semestres</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <h3>Brindando el mejor de los servicios en educación</h3>
            </div>
            <div class="col-lg-6 col-md-5">
                <p>Somos un equipo de personas apasionadas cuyo objetivo es mejorar la vida de todos. Estamos al servicio de la comunidad desde hace 58 años</p>
                <p> <span class="material-icons">call</span> 7718092</p>
                <p> <span class="material-icons">email</span> info@controlacademico.com</p>
            </div>
            <div class="col-lg-3 col-md-3">
                <a href="https://www.facebook.com/Institucion-Educativa-Magdalena-117224701767702/" target="_blanck">
                    <button mat-mini-fab class="boton-redes-1">
                        <img src="../../../assets/imagenes/fb.png" width="20px">
                    </button>
                </a>
                <a href="https://twitter.com/iedumagdalena?lang=es" target="_blanck">
                    <button mat-mini-fab class="boton-redes-2">
                        <img src="../../../assets/imagenes/twitter.png" width="20px">
                    </button>
                </a>
            </div>
        </div>
    </div>

</div>