.contenedor {}

.contenedor-uno {
    width: 100% !important;
    height: calc(100vh - 200px);
    background-image: url('../../../assets/imagenes/home1.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.letra-uno {
    margin-left: auto;
    margin-right: auto;
    color: #fff !important;
}

.contenedor-dos {
    margin-top: 100px;
    padding: 0px 80px;
}

.icon-dos {
    font-size: 35px;
    color: #fda301 !important;
}

.contenedor-tres {
    margin-top: 55px;
    padding: 0px 150px;
}

.imagen-tres {
    width: 90%;
}

.contenedor-texto-tres {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.centrar-vertical {
    margin-top: 55px;
    display: flex;
    align-items: center;
}

.contenedor-cuatro {
    margin-top: 55px;
    background: #F1F4F4;
}

.contenedor-texto-cuatro {
    padding: 0px 90px;
    display: flex;
    align-items: center;
}

.imagen-cuadro-cuatro {
    width: 80%;
    border-radius: 50% !important;
    height: auto;
    max-height: 300px;
}

.footer {
    padding: 40px 40px;
    display: flex;
    align-items: center;
}

.boton-redes-1 {
    background: #fff;
    color: #3b5998;
}

.boton-redes-2 {
    background: #fff;
    color: #00acee;
    margin-left: 10px;
}

@media (min-width: 500px) and (max-width: 800px) {
    .contenedor-tres {
        padding: 0px 80px;
    }
    .contenedor-texto-cuatro {
        padding: 0px 40px;
    }
}

@media (max-width: 499px) {
    .contenedor-dos {
        padding: 0px 20px;
    }
    .contenedor-tres {
        padding: 0px 20px;
        text-align: center;
    }
    .contenedor-texto-cuatro {
        text-align: center;
        padding: 0px 20px;
    }
    .footer {
        padding: 40px 20px;
        text-align: center;
    }
}